
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --yellow: #13a2b5;
    --teal-8: #1adcdccc;
    --white:#ffffff;
    --lightgrey:#d9dcd6;
    --border-radius:5px;
    --text:"Ariel",sans-serif;
    --black:black;
    
}
body {
    background-color: var(--lightgrey);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:  var(--teal-8);
    color: var(--white);
    
}


h1 { 
    display: inline-block;
    font-size: 50px;
}


nav{
    display:flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
nav ul {
    padding-top: 10px; 
    margin-right: 20px;
    font-family: 'Helvetica', 'Helvetica MT', 'Calibri', 'Lucida', sans-serif;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 20px;
    font-family: var(--text);
    
}

a:link, a:visited {
    color: var(--black);
}

/* set flex-box in row  */
.section-container{
    display:flex; 
}

/*main section title style*/
.sectionTitle{
    color:black;
    font-size:30px ;
    text-align: right;
    margin-right: 16px;
    padding: 16px;
    border-right: 3px solid var(--yellow);;
    width: 20%;
}
/*header navigate bar style*/
.text-right a {
    color: var(--white);
     text-decoration: none; 
}

